<header>
  <h1 id="title-name">Passport Quest</h1>
</header>
<nav>
  <div class="navbar">
    <a class="jump" href="#about-me">Log In</a>
    <a class="jump" href="#software">About Us</a>
    <a class="jump" href="#graphics">Help</a>
  </div>
</nav>