<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Passport Quest</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

  <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
  </main>

  <script src="/js/uploadwidget.js"></script>
  
</body>
</html>