<div class="container" style="font-family: Fuzzy Bubbles, cursive; color: Black">
    <section class="card" style="width: 600px; height: auto;">
        <h3 id="title-">Add Trip</h3>
        <form>
            <p class="form-group">
            <p><label for="title"> Title:*</label><input type="text" id="userName" name="userName" style="color: #000000 !important"></input>
                </p>
            <p><label for="country">Country:</label><input type="text" id="country" name="country" style="color: #000000 !important"></input>
                </p>
            <p><label for="city"> City:* </label><input type="text" id="city" name="city" style="color: #000000 !important"></input>
                </p>
            <p><label for="StartDate"> Start Date:* </label><input type="text" id="datepicker" style="color: #000000 !important"></p>
            <p><label for="EndDate"> End Date:* </label><input type="text" id="datepicker" style="color: #000000 !important"></p>
            <p><label for="lastName"> Bodget: </label><input type="text" id="bodget" name="bodget" style="color: #000000 !important"></input>
                </p>
            <p><label for="nationality"> Accomodation:* </label><input type="text" id="accomodation" name="accomodation" style="color: #000000 !important"></input>
                </p>
            <p><label for="currentLocation"> Transportation:* </label><input type="text" id="transportation" name="transportation" style="color: #000000 !important"></input>
                </p>
            <p><label for="homeCountry"> Emergency Name:* </label><input type="text" id="emergencyName" name="emergencyName" style="color: #000000 !important"></input>
                </p>
            <p><label for="homeCountry"> Emergency Contact:* </label><input type="text" id="emergencyContact" name="emergencyContact" style="color: #000000 !important"></input>
                </p>
            <p><label for="homeCountry">Note: </label><input type="text" id="note" name="note" style="color: #000000 !important"></input>
                </p>
            </form>
            <ul class="actions">
                <input href="#profile-page" type="submit" value="submit" class="button primary">
            </ul>
    </div>
<script>
	$(function() {
			$("#datepicker").datepicker({
					changeMonth: true,
					changeYear: true
			});
});
</script>

