
    <button 
      id="upload_widget" 
      class="cloudinary-button">
        Upload files
    </button>

    <img  
      id="uploadedimage" 
      src="">
    </img> 

    <script 
     src="https://widget.cloudinary.com/v2.0/global/all.js" 
     type="text/javascript">
    </script>

 