<main>
  <section class="card" style="font-family: Fuzzy Bubbles, cursive; color: Black">
    <h3 id="search-title" style="margin-top: 20px;">Sign In</h3>
    <form id="login-form" class="card-body login-form">
      <label class="form-label" for="username-login">Username:*</label>
      <input
        id="username-login"
        type="text"
        autofocus="true"
        class="form-input"
        placeholder="username"/>
      <label class="form-label" for="password-login">Password:*</label>
      <input
        id="password-login"
        type="password"
        autofocus="true"
        class="form-input"
        placeholder="password"/>
      <button type="submit" href="/profile" class="btn">Login</button>
      <a style="text-align:center;" class="login-link" href="/signup">Sign up</a>
    </form>
  </section>
</main>

<!-- javascript file-->

<script src="/js/login.js"></script>
