<main>
  <section class="card">
    <h3 id="search-title">Search for a blog</h3>
    <div>
      <h4 id="search-parameter">Search By:</h4>

      <div id="input-search-parameter">
        <label for="usernamesearch">
          <input
            type="radio"
            id="usernamesearch"
            name="search"
            value="username"
          />
          Username</label>

        <label for="citysearch">
          <input type="radio" id="citysearch" name="search" value="city" />
          City</label>

        <label for="countrysearch">
          <input
            type="radio"
            id="countrysearch"
            name="search"
            value="country"
          />
          Country</label>

        <label for="foodsearch">
          <input type="radio" id="foodsearch" name="search" value="food" />
          Food</label>
      </div>
    </div>
    <input type="text" id="searchbar" placeholder="search..." />
  </section>
</main>