<div class="container" style="font-family: Fuzzy Bubbles, cursive; color: Black">
<section class="card" style="width: 600px; height: auto;">
    <h3 style="margin-top: 20px" id="search-title">Search for a blog</h3>
    <div>
      <h4 id="search-parameter">Search By:</h4>
      <div id="input-search-parameter">
        <label style="margin-left: 150px;" for="usernamesearch" class="search-parameter-radiobtn">
          <input
            type="radio"
            id="usernamesearch"
            name="search"
            value="username"/>
          Username</label>
        <label style="margin-left: 150px;" for="citysearch">
          <input type="radio" id="citysearch" name="search" value="city" />
          City</label>
        <label style="margin-left: 150px;" for="countrysearch" class="search-parameter-radiobtn">
          <input
            type="radio"
            id="countrysearch"
            name="search"
            value="country"/>
          Country</label>
      </div>
    </div>
    <input type="text" id="searchbar" placeholder="search..." />
  <ul class="actions">
		<input type="submit" value="search" class="button primary">
	</ul>
  </section>