<section class="card">
  <a href="/addtrip" class="btn">Create a Trip!</a>
  <a href="/addblog" class="btn">Make a Blog</a>
  <a href="/viewblogs" class="btn">View All Blogs</a>
  <a href="/viewtrips" class="btn">View All Trips</a>
</section>
</main>
<script src="https://cdn.jsdelivr.net/npm/page-flip@0.4.3/dist/js/page-flip.browser.min.js"></script>
<script src="js/passport.js"></script>
</main>
