{{#if trips.length}}
  <div class="col-md-6 project-list">
    <h3>View Trips:</h3>

    {{#each trips as |trip|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/viewTrips/{{trip.id}}">{{trip.city}}</a></h4>
      </div>
    
    </div>
    {{/each}}
  </div>
  {{/if}}